APP_ENV=development
APP_DEBUG=true
APP_NAME=legacy-api

URL_LOG=

GOOGLE_BQ_USO_AUTH=
GOOGLE_BQ_ALARES_AUTH=
USODIGITAL_TYPE=service_account
USODIGITAL_PROJECT_ID=
USODIGITAL_PRIVATE_KEY_ID=
USODIGITAL_PRIVATE_KEY=
USODIGITAL_CLIENT_EMAIL=
USODIGITAL_CLIENT_ID=
USODIGITAL_AUTH_URI=https://accounts.google.com/o/oauth2/auth
USODIGITAL_TOKEN_URI=https://oauth2.googleapis.com/token
USODIGITAL_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
USODIGITAL_CLIENT_X509_CERT_URL=
USODIGITAL_UNIVERSE_DOMAIN=googleapis.com
ALARES_TYPE=service_account
ALARES_PROJECT_ID=
ALARES_PRIVATE_KEY_ID=
ALARES_PRIVATE_KEY=
ALARES_CLIENT_EMAIL=
ALARES_CLIENT_ID=
ALARES_AUTH_URI=https://accounts.google.com/o/oauth2/auth
ALARES_TOKEN_URI=https://oauth2.googleapis.com/token
ALARES_AUTH_PROVIDER_X509_CERT_URL=https://www.googleapis.com/oauth2/v1/certs
ALARES_CLIENT_X509_CERT_URL=
ALARES_UNIVERSE_DOMAIN=googleapis.com

HUGGY_APIV2_URL=
HUGGY_APIV3_URL=
HUGGY_API_TOKEN_ALARES=
HUGGY_API_TOKEN_NEOBPO=
HUGGY_ID_CONTA_NEOBPO=
HUGGY_ID_CONTA_ALARES=
HUGGY_ID_CONTA_ALARES_COBRANCA=
HUGGY_API_TOKEN_ALARES_COBRANCA=
HUGGY_ID_CONTA_ALARES_TELEFONIA=
HUGGY_API_TOKEN_ALARES_TELEFONIA=
HUGGY_ID_CONTA_ELO=
HUGGY_API_TOKEN_ELO=
HUGGY_ID_CONTA_RESGATE_CTI=
HUGGY_API_TOKEN_RESGATE_CTI=
HUGGY_ID_CONTA_T2=
HUGGY_API_TOKEN_T2=
HUGGY_ID_CONTA_T5_BO_BLUEPHONE=
HUGGY_API_TOKEN_T5_BO_BLUEPHONE=
HUGGY_ID_CONTA_USODIGITAL=
HUGGY_API_TOKEN_USODIGITAL=
HUGGY_APIV3_TOKEN_GENERICO=
HUGGY_APIV3_TOKEN_ALARES=

GUPSHUP_APIV1_URL=
GUPSHUP_APIV1_URL_APP=

CALLBACK_AIDA_ALARES=
CALLBACK_AIDA_NEOBPO=

TOKEN_REQ_USO_ALARES=
TOKEN_REQ_USO_NEOBPO=
TOKEN_REQ_USO_GERAL=
TOKEN_REQ_USO_BALDUSSI=
TOKEN_REQ_DEV_GERAL=
TOKEN_REQ_BQ_NEOBPO=
TOKEN_REQ_WPP_GERAL=
TOKEN_REQ_WPP_ZABBIX=
TOKEN_REQ_ALARES_GERAL=
TOKEN_REQ_PLAY7_GERAL=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASS=

URL_ZENVIA_AVI=
TOKEN_ZENVIA_ALARES=
TOKEN_ZENVIA_NEOBPO=

DB_HOST_SRV_APP=
DB_PORT_GERAL=
DB_USER_V3=
DB_PASS_V3=
DB_NAME_ANALITC=
DB_NAME_APP=
DB_NAME_PORTAL=
DB_HOST_SRV_PRO=
DB_HOST_SRV_CLOUD=
DB_USER_PORTAL_BALDUSSI=
DB_PASS_PORTAL_BALDUSSI=

ALARES_API_V1_HMG=
ALARES_API_V1_PROD=
ALARES_API_OUTAGE=
INTEGRATION_SECRET_HMG=
CHAVE_BASE_ALARES_API_V1_HMG=
USUARIO_ALARES_API_V1_HMG=
INTEGRATION_SECRET_PROD=
CHAVE_BASE_ALARES_API_V1_PROD=
CHAVE_BASE_ALARES_API_V1_COBRANCA_PROD=
CHAVE_BASE_ALARES_API_V1_ATENDIMENTO_PROD=
USUARIO_ALARES_API_V1_PROD=
USUARIO_ALARES_API_V1_COBRANCA_PROD=
USUARIO_ALARES_API_V1_ATENDIMENTO_PROD=
ALARES_KEY_TOKEN_FRAUDE=
TOKEN_ALARES_OUTAGE_CHECK=
TOKEN_ALARES_REGRAS_NEGOCIACAO=
CHAVE_BASE_ALARES_API_VOZ_PROD=
USUARIO_ALARES_API_VOZ_PROD=
INTEGRATION_SECRET_VOZ_PROD=

RABBITMQ_HOST_APP=
RABBITMQ_USUARIO_APP=
RABBITMQ_SENHA_APP=
RABBITMQ_HOST_USOCALL=
RABBITMQ_USUARIO_USOCALL=
RABBITMQ_SENHA_USOCALL=

TOKEN_ZAPI=
URL_ZAPI=

DB_HOST=
DB_PORT=
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

HTTP_TIMEOUT=30
